<div>
  <img src="/assets/soon.jpg" style="width: 100% !important; height: 840px !important;">
</div>

<script>
    $(document).ready(function() {
        $('#sidenav-dss').html('');
    });
</script>