<!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/exporting.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/export-data.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/accessibility.js"></script>-->

<!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/export-data.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/series-label.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/data.js"></script>-->

<script>
    $(document).ready(function() {

    });
</script>

<div class="row">
  <div class="col s12 m12 ">
    <div class="col s2 m2 right-dss">
      <a id="simulate-dss" class="waves-effect waves-light btn pink darken-4"><i class="material-icons left">search</i>ACCEPT</a>
    </div>
<!--    <div class="col s1 m1 right-dss">-->
<!--      <div class="input-field">-->
<!--        <input type="text" id="date-end" class="datepicker" required aria-required="true" value="2020-06-06">-->
<!--        <label for="date-start">Date End</label>-->
<!--      </div>-->
<!--    </div>-->
    <div class="col s1 m1 right-dss">
      <div class="input-field">
        <input type="text" id="date-start" class="datepicker" required aria-required="true" value="2020-05-31">
        <label for="date-start">Date</label>
      </div>
    </div>
  </div>
</div>

<%= "max" %>
<%= @max %>

<div class="row">
  <div class="col s12 m12">
    <figure class="highcharts-figure">
      <div id="container1"></div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <figure class="highcharts-figure">
      <div id="container2"></div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <figure class="highcharts-figure">
      <div id="container3"></div>
    </figure>
  </div>
</div>