<div class="row">
  <div id="preloader-dss" class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p class="blinking">Loading</p>

    <!--    <div class="progress">-->
    <!--      <div class="indeterminate" style="width: 70%"></div>-->
    <!--    </div>-->

  </div>
</div>

<div class="row">
  <div class="col s12 m12 ">
    <div class="col s6 m6">
      <h3 class="purple-text">TraelApp Summary Dashboard EIS</h3>
    </div>
    <div class="col s2 m2 right-dss">
      <a id="eis-dss" class="waves-effect waves-light btn pink darken-4"><i class="material-icons left">search</i>SEARCH</a>
    </div>
    <div class="col s1 m1 right-dss">
      <div class="input-field">
        <input type="text" id="date-end-eis" class="datepicker" required aria-required="true" value="2020-02-02">
        <label for="date-end">Week end date</label>
      </div>
    </div>
    <div class="col s1 m1 right-dss">
      <div class="input-field">
        <input type="text" id="date-eis" class="datepicker" required aria-required="true" value="2020-02-02">
        <label for="date-start">Week start date</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col m6 s6" id="charSample">
    <figure class="highcharts-figure">
      <div id="containerSample"></div>
    </figure>
  </div>
</div>

<div id="chars-dss">
  <div class="row">
    <div class="col m6 s6" id="charEISTotalRevenueVehicles">
      <figure class="highcharts-figure">
        <div id="containerEISTotalRevenueVehicles"></div>
      </figure>
    </div>
    <div class="col m6 s6" id="charEISRevenue">
      <figure class="highcharts-figure">
        <div id="containerEISRevenue"></div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col m6 s6" id="charEISTotalDeliveriesZone">
      <figure class="highcharts-figure">
        <div id="containerEISTotalDeliveriesZone"></div>
      </figure>
    </div>
<!--    <div class="col m6 s6" id="charEISTotalDeliveriesZone">-->
<!--      <figure class="highcharts-figure">-->
<!--        <div id="containerEISTotalDeliveriesZone"></div>-->
<!--      </figure>-->
<!--    </div>-->
  </div>

  <div class="row">
    <div class="col m6 s6" id="charEISDeliveryTime">
      <figure class="highcharts-figure">
        <div id="containerEISDeliveryTime"></div>
      </figure>
    </div>
    <div class="col m6 s6" id="charEISRevenueStatus">
      <figure class="highcharts-figure">
        <div id="containerEISRevenueStatus"></div>
      </figure>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
      $('#sidenav-dss').html('' +
          '  <div class="row">' +
          '    <div class="col s12 m12">' +
          '      <div class="card pink darken-3">' +
          '        <div class="card-content white-text">' +
          '          <span class="card-title">Executive Information System</span>' +
          '          <p></p>' +
          '        </div>' +
          '      </div>' +
          '    </div>' +
          '  </div>');

        // Create the chart
        Highcharts.chart('containerSample', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Browser market shares. January, 2018'
            },
            subtitle: {
                text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [
                {
                    name: "Browsers",
                    colorByPoint: true,
                    data: [
                        {
                            name: "Chrome",
                            y: 62.74,
                            drilldown: "Chrome"
                        },
                        {
                            name: "Firefox",
                            y: 10.57,
                            drilldown: "Firefox"
                        },
                        {
                            name: "Internet Explorer",
                            y: 7.23,
                            drilldown: "Internet Explorer"
                        },
                        {
                            name: "Safari",
                            y: 5.58,
                            drilldown: "Safari"
                        },
                        {
                            name: "Edge",
                            y: 4.02,
                            drilldown: "Edge"
                        },
                        {
                            name: "Opera",
                            y: 1.92,
                            drilldown: "Opera"
                        },
                        {
                            name: "Other",
                            y: 7.62,
                            drilldown: null
                        }
                    ]
                }
            ],
            drilldown: {
                series: [
                    {
                        name: "Chrome",
                        id: "Chrome",
                        data: [
                            [
                                "v65.0",
                                0.1
                            ],
                            [
                                "v64.0",
                                1.3
                            ],
                            [
                                "v63.0",
                                53.02
                            ],
                            [
                                "v62.0",
                                1.4
                            ],
                            [
                                "v61.0",
                                0.88
                            ],
                            [
                                "v60.0",
                                0.56
                            ],
                            [
                                "v59.0",
                                0.45
                            ],
                            [
                                "v58.0",
                                0.49
                            ],
                            [
                                "v57.0",
                                0.32
                            ],
                            [
                                "v56.0",
                                0.29
                            ],
                            [
                                "v55.0",
                                0.79
                            ],
                            [
                                "v54.0",
                                0.18
                            ],
                            [
                                "v51.0",
                                0.13
                            ],
                            [
                                "v49.0",
                                2.16
                            ],
                            [
                                "v48.0",
                                0.13
                            ],
                            [
                                "v47.0",
                                0.11
                            ],
                            [
                                "v43.0",
                                0.17
                            ],
                            [
                                "v29.0",
                                0.26
                            ]
                        ]
                    },
                    {
                        name: "Firefox",
                        id: "Firefox",
                        data: [
                            [
                                "v58.0",
                                1.02
                            ],
                            [
                                "v57.0",
                                7.36
                            ],
                            [
                                "v56.0",
                                0.35
                            ],
                            [
                                "v55.0",
                                0.11
                            ],
                            [
                                "v54.0",
                                0.1
                            ],
                            [
                                "v52.0",
                                0.95
                            ],
                            [
                                "v51.0",
                                0.15
                            ],
                            [
                                "v50.0",
                                0.1
                            ],
                            [
                                "v48.0",
                                0.31
                            ],
                            [
                                "v47.0",
                                0.12
                            ]
                        ]
                    },
                    {
                        name: "Internet Explorer",
                        id: "Internet Explorer",
                        data: [
                            [
                                "v11.0",
                                6.2
                            ],
                            [
                                "v10.0",
                                0.29
                            ],
                            [
                                "v9.0",
                                0.27
                            ],
                            [
                                "v8.0",
                                0.47
                            ]
                        ]
                    },
                    {
                        name: "Safari",
                        id: "Safari",
                        data: [
                            [
                                "v11.0",
                                3.39
                            ],
                            [
                                "v10.1",
                                0.96
                            ],
                            [
                                "v10.0",
                                0.36
                            ],
                            [
                                "v9.1",
                                0.54
                            ],
                            [
                                "v9.0",
                                0.13
                            ],
                            [
                                "v5.1",
                                0.2
                            ]
                        ]
                    },
                    {
                        name: "Edge",
                        id: "Edge",
                        data: [
                            [
                                "v16",
                                2.6
                            ],
                            [
                                "v15",
                                0.92
                            ],
                            [
                                "v14",
                                0.4
                            ],
                            [
                                "v13",
                                0.1
                            ]
                        ]
                    },
                    {
                        name: "Opera",
                        id: "Opera",
                        data: [
                            [
                                "v50.0",
                                0.96
                            ],
                            [
                                "v49.0",
                                0.82
                            ],
                            [
                                "v12.1",
                                0.14
                            ]
                        ]
                    }
                ]
            }
        });
    });
</script>