<!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/exporting.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/export-data.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/accessibility.js"></script>-->

<!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/export-data.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/series-label.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/data.js"></script>-->

<div class="row">
  <div class="col s12 m12">
    <figure class="highcharts-figure">
      <div id="container1"></div>
      <p class="highcharts-description">
        Chart showing stacked horizontal bars. This type of visualization is
        great for comparing data that accumulates up to a sum.
      </p>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <figure class="highcharts-figure">
      <div id="container2"></div>
      <p class="highcharts-description">
        Charts can be styled using CSS, such as this example overriding
        the default styles for a pie chart. This can be done without the
        use of Javascript, allowing designers and developers to better
        collaborate on chart design.
      </p>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <figure class="highcharts-figure">
      <div id="container3"></div>
      <p class="highcharts-description">
        Chart showing browser market shares. Clicking on individual columns
        brings up more detailed data. This chart makes use of the drilldown
        feature in Highcharts to easily switch between datasets.
      </p>
    </figure>
  </div>
</div>