<div class="row">
  <div id="preloader-dss" class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p class="blinking">Loading</p>

<!--    <div class="progress">-->
<!--      <div class="indeterminate" style="width: 70%"></div>-->
<!--    </div>-->

  </div>
</div>

<div id="index-dss" class="row">
  <div class="col s1 m1">
    <div class="input-field">
      <input type="text" id="date-dss" class="datepicker" required aria-required="true">
      <label for="bike_cost">Date</label>
    </div>
  </div>
  <div class="col s2 m2">
    <a id="simulate-dss" class="waves-effect waves-light btn pink darken-4"><i class="material-icons left">send</i>SIMULATE</a>
  </div>

  <div class="row">
    <%= @value %>
    <%= @categories %>
    <%= @data %>
  </div>

</div>

<div class="row" style="margin-top: 80px">
  <div id="char1" class="col m12 s12 no-display">
    <p id="categories" class="no-display">
      order1
    </p>
    <p id="data">
      25
    </p>
  </div>
</div>

<div class="row" id="charIndex">
  <figure class="highcharts-figure">
    <div id="containerIndex"></div>
    <p class="highcharts-description">
      Chart with buttons to modify options, showing how options can be changed
      on the fly. This flexibility allows for more dynamic charts.
    </p>
  </figure>
</div>
